:root { 
--gray_900_14:#0d293114; 
--red_600:#eb3131; 
--pink_900:#641c36; 
--red_500:#f83838; 
--green_600:#3bad49; 
--red_50:#fff1f4; 
--gray_900_2b:#0d29312b; 
--pink_400:#c64b68; 
--pink_100:#f6c1c7; 
--pink_200:#fba0b5; 
--gray_600:#6f6f6f; 
--orange_A100:#ffd77c; 
--gray_700:#5e5e5e; 
--pink_50:#f8dde3; 
--blue_900:#1a46b7; 
--blue_gray_100:#d0d0d0; 
--gray_500:#acacac; 
--blue_gray_400:#8c8c8c; 
--cyan_900_01:#054d58; 
--gray_800:#454545; 
--amber_600:#f6b60b; 
--gray_900:#07191f; 
--teal_50:#d1ecf7; 
--gray_200:#ebebeb; 
--gray_300:#dbdbdb; 
--gray_300_01:#e6e6e6; 
--gray_100:#f2f2f2; 
--deep_purple_50:#efe9ff; 
--indigo_400:#5778c5; 
--orange_50:#ffeade; 
--cyan_50:#dff9f3; 
--cyan_900:#054e58; 
--white_A700:#ffffff; 
}